<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indotravel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NasiGandul"></activity>
        <activity android:name=".NasiGrombyang" />
        <activity android:name=".NasiSumSum" />
        <activity android:name=".NasiLiwet" />
        <activity android:name=".NasiUduk" />
        <activity android:name=".NasiUlam" />
        <activity android:name=".PecakBandeng" />
        <activity android:name=".Peyeum" />
        <activity android:name=".Pecel" />
        <activity android:name=".PindangBandeng" />
        <activity android:name=".OsengMercon" />
        <activity android:name=".Opak" />
        <activity android:name=".SateKlathak" />
        <activity android:name=".RujakCingur" />
        <activity android:name=".RujakSoto" />
        <activity android:name=".Rawon" />
        <activity android:name=".Rabeg" />
        <activity android:name=".SegoKucing" />
        <activity android:name=".SemurJengkol" />
        <activity android:name=".SotoLamongan" />
        <activity android:name=".SotoTangkar" />
        <activity android:name=".Soto" />
        <activity android:name=".Surabi" />
        <activity android:name=".TahuPetis" />
        <activity android:name=".TahuTek" />
        <activity android:name=".TempeMendoan" />
        <activity android:name=".TutugOncom" />
        <activity android:name=".Mochi" />
        <activity android:name=".ManisanPala" />
        <activity android:name=".MieOngklok" />
        <activity android:name=".MangutBeOng" />
        <activity android:name=".MakanLotek" />
        <activity android:name=".LontongSayur" />
        <activity android:name=".LontongBalap" />
        <activity android:name=".LodhoAyam" />
        <activity android:name=".LepetBanten" />
        <activity android:name=".Laksa" />
        <activity android:name=".KueGipang" />
        <activity android:name=".KopiJoss" />
        <activity android:name=".Ketoprak" />
        <activity android:name=".KetanBintul" />
        <activity android:name=".KerakTelor" />
        <activity android:name=".Karedok" />
        <activity android:name=".JadahTempe" />
        <activity android:name=".Gudeg" />
        <activity android:name=".GethukPisang" />
        <activity android:name=".GethukGoreng" />
        <activity android:name=".GeremAsem" />
        <activity android:name=".GarangAsem" />
        <activity android:name=".GadoGado" />
        <activity android:name=".CombroMisro" />
        <activity android:name=".Cireng" />
        <activity android:name=".Brem" />
        <activity android:name=".Brekecek" />
        <activity android:name=".Bontot" />
        <activity android:name=".BalokMenes" />
        <activity android:name=".Bakpia" />
        <activity android:name=".BakmiJawa" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".AyamGoreng" />
        <activity android:name=".Lada" />
        <activity android:name=".KulinerJatim2" />
        <activity android:name=".KulinerJogja2" />
        <activity android:name=".KulinerJateng2" />
        <activity android:name=".KulinerJabar2" />
        <activity android:name=".KulinerJakarta2" />
        <activity android:name=".KulinerBanten2" />
        <activity android:name=".activity_jateng" />
        <activity android:name=".TamanAncol" />
        <activity android:name=".pulau_cangkir" />
        <activity android:name=".pantai_nampu" />
        <activity android:name=".air_terjun_gendang" />
        <activity android:name=".agung_banten" />
        <activity android:name=".TamanBaluran" />
        <activity android:name=".TamanMini" />
        <activity android:name=".WOW" />
        <activity android:name=".TamanPintar" />
        <activity android:name=".KawahPutih" />
        <activity android:name=".PantaiSukamade" />
        <activity android:name=".PulauPeucang" />
        <activity android:name=".PantaiLesung" />
        <activity android:name=".AirGethuk" />
        <activity android:name=".KawahTalagaBodas" />
        <activity android:name=".PulauUmang" />
        <activity android:name=".TuguJogja" />
        <activity android:name=".MuWayang" />
        <activity android:name=".StoneGarden" />
        <activity android:name=".SriBadugaPurwakarta" />
        <activity android:name=".LembahSindoro" />
        <activity android:name=".PantaiSawarna" />
        <activity android:name=".TelagaRemis" />
        <activity android:name=".RagunanJakarta" />
        <activity android:name=".ProgoRafting" />
        <activity android:name=".CandiPrambanan" />
        <activity android:name=".UmbulPonggok" />
        <activity android:name=".GoaPindul" />
        <activity android:name=".CandiPenataran" />
        <activity android:name=".PantaiParangtritis" />
        <activity android:name=".AlamPanenjoan" />
        <activity android:name=".activity_museumnasional" />
        <activity android:name=".GunungMerbabu" />
        <activity android:name=".HutanMangrove" />
        <activity android:name=".MalioboroJogja" />
        <activity android:name=".PantaiKlayar" />
        <activity android:name=".KidzaniaJakarta" />
        <activity android:name=".KeratonJogja" />
        <activity android:name=".activity_kawahijen" />
        <activity android:name=".KampungKaruhun" />
        <activity android:name=".activity_kampungbaduy" />
        <activity android:name=".MonumenNasional" />
        <activity android:name=".activity_jatimpark" />
        <activity android:name=".MasjidIstiqlal" />
        <activity android:name=".PantaiIndrayanti" />
        <activity android:name=".activity_gua_gong" />
        <activity android:name=".GrojoganSewu" />
        <activity android:name=".activity_green_canyon" />
        <activity android:name=".activity_gili_labak" />
        <activity android:name=".UjungGenteng" />
        <activity android:name=".GembiraLoka" />
        <activity android:name=".DataranDieng" />
        <activity android:name=".activity_coban_rondo" />
        <activity android:name=".CurugCikaso" />
        <activity android:name=".GunungBromo" />
        <activity android:name=".candi_borobudur" />
        <activity android:name=".activity_bidadari" />
        <activity android:name=".activity_raden" />
        <activity android:name=".activity_agungjateng" />
        <activity android:name=".MuseumAngkut" />
        <activity android:name=".OceanPark" />
        <activity android:name=".Anyer" />
        <activity android:name=".WisataJogja" />
        <activity android:name=".WisataJatim" />
        <activity android:name=".WisataJakarta" />
        <activity android:name=".WisataJabar" />
        <activity android:name=".KulinerJogja" />
        <activity android:name=".KulinerJatim" />
        <activity android:name=".KulinerJatemg" />
        <activity android:name=".KulinerJabar" />
        <activity android:name=".SebelumProv" />
        <activity android:name=".KulinerJakarta" />
        <activity android:name=".WisataBanten" />
        <activity android:name=".TipsTricks" />
        <activity android:name=".Provinsi" />
        <activity android:name=".ListProvinsi" />
        <activity android:name=".Welcome" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>